In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
# help(pd.Series)

In [5]:
myindex = ['USA', 'Canada', 'Mexico']

In [6]:
mydata = [1776, 1867, 1821]

In [7]:
myser = pd.Series(data=mydata)

In [8]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [9]:
myser = pd.Series(data=mydata, index=myindex)

In [10]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [11]:
myser[2]

1821

In [12]:
myser['Mexico']

1821

In [15]:
myser = pd.Series(mydata,myindex)

In [16]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [17]:
ages = {'Sam': 5, 'Frank': 10, 'Spike': 7}

In [18]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [20]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [21]:
sales_q1 = pd.Series(q1)

In [22]:
sales_q2 = pd.Series(q2)

In [23]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [24]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [25]:
sales_q1['Japan']

80

In [26]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [27]:
[1, 2] * 2

[1, 2, 1, 2]

In [28]:
np.array([1, 2]) * 2

array([2, 4])

In [29]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [30]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [31]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [32]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [33]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [34]:
sales_q1.add(sales_2, fill_value=0)

NameError: name 'sales_2' is not defined